#wrapper {
    padding-left: 250px;
    transition: all 0.4s ease 0s;
}

#sidebar-wrapper {
    margin-left: -250px;
    left: 250px;
    width: 250px;
    background: #CCC;
    position: fixed;
    height: 100%;
    overflow-y: auto;
    z-index: 1000;
    transition: all 0.4s ease 0s;
}

#page-content-wrapper {
    width: 100%;
}

.createJdInputs{
    margin-bottom: 5px;
}


.sidebar-nav {
    position: absolute;
    top: 0;
    width: 200px;
    list-style: none;
    margin: 0;
    padding: 0;
}
#fileUpload{
    border: 3px dashed black;
    border-radius: 15px;
}

#fillForm{
    border-radius: 15px;
    background-color: #EDF1FF;
}

@media (max-width:767px) {

    #wrapper {
        padding-left: 0;
    }

    #sidebar-wrapper {
        left: 0;
    }

    #wrapper.active {
        position: relative;
        left: 250px;
    }

    #wrapper.active #sidebar-wrapper {
        left: 250px;
        width: 250px;
        transition: all 0.4s ease 0s;
    }
    

}


/* steps */

.node {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    display: inline-block;
    transition: all 1000ms ease;
}

.activated {
    box-shadow: 0px 0px 3px 2px rgba(194, 255, 194, 0.8);
}

.divider {
    margin-top: -10px;
    height: 80px;
    width: 2px;
    margin-left: 13px;
    transition: all 800ms ease;
}

li p {
    display: inline-block;
    margin-left: 25px;
}

li {
    list-style: none;
    line-height: 1px;
}

.stepText{
    color: grey;
    margin-left: 40px;

    margin-top: -20px;
}

li h6{
    margin-left: 40px;
    margin-top: -20px;
}


.blue {
    background-color: rgba(82, 165, 255, 1);
}

.green {
    background-color: rgba(92, 184, 92, 1)
}

.red {
    background-color: rgba(255, 148, 148, 1);
}

.grey {
    background-color: rgba(201, 201, 201, 1);
}

/* upload button css followes here */









.file {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.file>input[type='file'] {
    display: none
}

.file>label {
    height: 35px;
    font-size: 1rem;
    font-weight: 300;
    cursor: pointer;
    outline: 0;
    user-select: none;
    border-color: rgb(216, 216, 216) rgb(209, 209, 209) rgb(186, 186, 186);
    border-style: solid;
    border-radius: 4px;
    border-width: 1px;
    background-color: hsl(0, 0%, 100%);
    color: white;
 
    display: flex;
    justify-content: center;
    align-items: center;
}

.file>label:hover {
    border-color: hsl(0, 0%, 21%);
}

.file>label:active {
    background-color: hsl(0, 0%, 96%);
}

.file>label>i {
    padding-right: 5px;
}

.file--upload>label {
    color: white;
    border-color: hsl(204, 86%, 53%);
}

.file--upload>label:hover {
    border-color: hsl(204, 86%, 53%);
    background-color: hsl(204, 86%, 96%);
}

.file--upload>label:active {
    background-color: hsl(204, 86%, 91%);
}

.file--uploading>label {
    color: hsl(48, 100%, 67%);
    border-color: hsl(48, 100%, 67%);
}

.file--uploading>label>i {
    animation: pulse 5s infinite;
}

.file--uploading>label:hover {
    border-color: hsl(48, 100%, 67%);
    background-color: hsl(48, 100%, 96%);
}

.file--uploading>label:active {
    background-color: hsl(48, 100%, 91%);
}

.file--success>label {
    color: hsl(141, 71%, 48%);
    border-color: hsl(141, 71%, 48%);
}

.file--success>label:hover {
    border-color: hsl(141, 71%, 48%);
    background-color: hsl(141, 71%, 96%);
}

.file--success>label:active {
    background-color: hsl(141, 71%, 91%);
}

.file--danger>label {
    color: hsl(348, 100%, 61%);
    border-color: hsl(348, 100%, 61%);
}

.file--danger>label:hover {
    border-color: hsl(348, 100%, 61%);
    background-color: hsl(348, 100%, 96%);
}

.file--danger>label:active {
    background-color: hsl(348, 100%, 91%);
}

.file--disabled {
    cursor: not-allowed;
}

.file--disabled>label {
    border-color: #e6e7ef;
    color: #e6e7ef;
    pointer-events: none;
}

@keyframes pulse {
    0% {
        color: hsl(48, 100%, 67%);
    }

    50% {
        color: hsl(48, 100%, 38%);
    }

    100% {
        color: hsl(48, 100%, 67%);
    }
}