.password-tab-wrapper {
    /* display: flex; */
    flex-wrap: wrap;
    overflow-y: auto;
    /* height: 100vh; */
    padding: 2.222vw 1.83333vw 2.222vw 2.4vw;
}
.password-tab-wrapper .password-tab-right-section {
    width: 80%;
} .password-tab-wrapper .password-tab-left-section  {
    width: 100%;
    margin-bottom: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid #EAECF0;
}
.password-tab-wrapper .password-tab-left-section .secondary-line {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #475467;
}
.password-tab-wrapper .password-tab-left-section .title {
    font-weight: 600;
    font-size: 16px;
    color: #101828;
    line-height: 24px;
}
.password-tab-wrapper .password-tab-right-section .form-component .form-body-wrapper .field-label {
    min-width: 250px;
}

/* .password-tab-wrapper .password-tab-left-section:nth-child(2) , .password-tab-wrapper .password-tab-right-section:nth-child(2)  {
    padding-top: 2vw;
    border-top: 1px  solid #EAECF0 !important;
} */