.recruiter-dashboard {
    padding: 0px 10px 24px 24px;
    display: flex;
    .dashboard-left-section {
        width: 70%;
    }
    .dashboard-right-section {
        width: 30%;
    }
    .welcome-text {
        font-weight: 500;
        font-size: 30px;
        color: #101828;
        line-height: 1.2;
    }
    .page-desc {
        font-weight: 400;
        font-size: 16px;
        color: #667085;
        margin-bottom: 20px;
    }
    .range-wrapper {
        display: flex;
        margin-bottom: 12px;
        .option:nth-child(1) {
            border-top-left-radius: 8px;
            border-bottom-left-radius: 8px;
        }
        .option:last-child {
            border-right: 1px solid #D0D5DD;
            border-top-right-radius: 8px;
            border-bottom-right-radius: 8px;
        }
        .option {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0px;
            width: 108px;
            height: 40px;
            background: #FFFFFF;
            border: 1px solid #D0D5DD;
            border-right: 0;    
            position: relative;
            cursor: pointer;
            span {
                width: 8px;
                height: 8px;
                border-radius: 50%;
                left: 5px;
                position: absolute;
            }
            &[data-status="true"] {
                border: 1px solid #7EB8FA;
                background: #F9FAFB;
                span {
                    background: #12B76A;
                }
            }
        }
        .option[data-status="true"]+.option {
            border-left: 0;
        }
    }

    .overveiw-box-wrapper {
        display: flex;
        margin-bottom: 28px;
        .value-change-wrapper {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        .overview-box{ 
            background: #FFFFFF;
            border: 1px solid #EAECF0;
            box-shadow: 0px 1px 3px rgba(16, 24, 40, 0.1), 0px 1px 6px rgba(16, 24, 40, 0.06);
            border-radius: 8px;
            padding: 24px;
            width: 265.67px;
            height: 107px;
            margin-right: 15px;
            padding-top: 17px;
            .box-title {
                font-weight: 500;
                font-size: 14px;
                color: #667085;
            }
            .box-value{
                font-weight: 600;
                font-size: 30px;        
                color: #101828;
                line-height: 1.4;
            }
            .box-change[data-status="direction-up"] {
                font-size: 14px;
                text-align: center;
                color: #027A48;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                padding: 2px 8px 2px 10px;
                width: 61px;
                height: 24px;           
                background: #ECFDF3;
                border-radius: 16px;
                svg {
                    path {
                        stroke: #027A48;
                    }
                }
            }
            .box-change[data-status="direction-down"] {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                padding: 2px 8px 2px 10px;
                width: 61px;
                height: 24px;           
                background: #FEF3F2;    
                border-radius: 16px;
                font-size: 14px;
                text-align: center;
                color: #F04438;
                svg {
                    path {
                        stroke: #F04438;
                    }
                }
            }
        }
        .overview-box[template="template-2"] {
            background: linear-gradient(77.81deg, #103662 -66.57%, #206DC5 100.11%);
            box-shadow: 0px 1px 3px rgba(16, 24, 40, 0.1), 0px 1px 6px rgba(16, 24, 40, 0.06);
            position: relative;
            padding-left: 66px;
            .box-title {
                font-weight: 500;
                font-size: 14px;
                color: white;
            }
            .box-value{
                font-weight: 600;
                font-size: 48px;  
                color:  white;
                line-height: 1;
                display: flex;
                align-items: baseline;
                .value-unit {
                    font-size: 14px;
                    margin-left: 5px;
                }
            }
            .clock {
                position: absolute;
                left: 10px;
                top: 27px;
            }
            >svg {
                position: absolute;
                left: 10px;
                top: 27px;
            }
        }
        .overview-box:last-child {
            margin-right: 0;
        }
    }
    .job-list-table {
     //   box-shadow: 0px 4px 8px -2px rgba(16, 24, 40, 0.1), 0px 0px 4px -2px rgba(16, 24, 40, 0.12);
     box-shadow: 0px 1px 3px rgba(16, 24, 40, 0.1), 0px 1px 6px rgba(16, 24, 40, 0.06);
        border-radius: 8px;
        padding: 16px;
        .table-title-wrapper {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 24px;
        }
        .table-title {
            font-weight: 600;
            font-size: 18px;
            color: #101828;
        }
        .table-view-all {
            font-weight: 400;
            font-size: 14px;
            color: #206DC5;
            cursor: pointer;
        }
        .table-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 17px;
            .range-wrapper {
                margin-bottom: 0;
            }
        }
        .search-filter-wrapper {
            display: flex;
            .search-box {
                display: flex;
                flex-direction: row;
                align-items: center;
                padding: 10px 14px;
                gap: 8px;
                width: 190px;
                height: 40px;
                background: #FFFFFF;
                border: 1px solid #D0D5DD;
                box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
                border-radius: 8px;
                margin-right: 10px;
                input{
                    width: 80%;
                    border: 1px solid transparent;
                }
            }
            .filter-button {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                padding: 10px 16px;
                width: 102px;
                height: 40px;
                background: #FFFFFF;
                border: 1px solid #D0D5DD;
                box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
                border-radius: 8px;
                svg {
                    margin-right: 7px;
                }
            }
        }
        .ant-table {
            .company-column {
                display: flex;
                .company-logo {
                    width: 38px;
                    height: 38px;
                    border-radius: 50%;
                    margin-right: 7px;
                    background-color: lightblue;

                }
            }
            .ant-table-cell {
                .main-text {
                    color: #101828;
                }
                .desc-text {
                    color: #667085;
                }
                .ant-tag {
                    margin-left: 18px;
                }
            }
            tr:last-child{
                td{
                    border-bottom: 0;
                }
            }
        }
    }
    .calender-wrapper {
        .calender-title-section {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0px 16px;
            margin-bottom: 10px;
        }
        .range-wrapper {
            margin-bottom: 0;
        }
    }
    .ant-picker {
       opacity: 0;
    }
    #calender-area {
        .ant-picker-panel-container {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .ant-picker-dropdown {
            left: 14px !important;
            top: 0px !important;
            width: 91%;
        }
        .custom-cell {
            height: 35px;
            width: 35px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 12px;
            position: relative;
            .event {
                background: #185294;
                width: 5px;
                height: 5px;
                border-radius: 50%;
                position: absolute;
                bottom: 4px;
                left: 46%;
            }
        }
        .ant-picker-footer {
            display: none;
        }
        .ant-picker-panel-container  {
            box-shadow: 0px 4px 24px -4px rgb(16 24 40 / 8%), 0px 0px 8px -4px rgb(16 24 40 / 3%);  
        }
        .ant-picker-header {
            border-bottom: 0;
            padding-top: 10px;
            padding-bottom: 10px;
            font-size: 13px;
            th {
                font-weight: 500;
            }
        }
        .ant-picker-content {
            font-size: 12px;
            th {
                font-weight: 500;
            }
        }
        
        .ant-picker-cell-selected {
            .custom-cell {
                background-color: #2888F6;
                color: white;
                border-radius: 50%;
                .event {
                    background: white;
                   
                }
            }
        }
        
    }
}